body {
  color: #6c757d;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

.abs {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
}

.countryConfirmedHeader,
.countryActiveHeader,
.countryRecoveredHeader,
.countryDeceasedHeader {
  font-size: 16px;
  font-weight: bold;
}

.countryConfirmedDelta,
.countryRecoveredDelta,
.countryDeceasedDelta {
  font-size: 15px;
}

.countryConfirmed,
.countryActive,
.countryRecovered,
.countryDeceased {
  font-size: 18px;
}

.countryConfirmedHeader,
.countryConfirmedDelta,
.countryConfirmed {
  color: #ff073a;
}

.countryActiveHeader,
.countryActive {
  color: #007bff;
}

.countryRecoveredHeader,
.countryRecoveredDelta,
.countryRecovered {
  color: #28a745;
}

.countryDeceasedHeader,
.countryDeceasedDelta,
.countryDeceased {
  color: #6c757d;
}

.stateDelta {
  font-size: 12px;
  margin-right: 0.25rem;
  font-weight: initial;
  overflow-wrap: anywhere;
}

body.darkMode {
  background-color: #171e24;
}

.darkMode .navbar {
  background-color: #1c2a35;
}

.search-bar {
  margin-bottom: 40px;
}

.search-box {
  border: 1px solid #6c757d;
  border-radius: 5px;
}

.search {
  border: 1px solid #6c757d;
  border-radius: 5px;
  color: #4c4f52;
}

.darkMode .search {
  color: #959fa8;
  background-color: #1f2e3a;
}

.darkMode .search-box {
  background-color: #171e24;
  color: #c0c7ce;
}

.notFound {
  display: none;
  font-size: 20px;
}

table {
  align-self: center;
  max-width: 800px;
  border-collapse: separate;
  border-spacing: 3px 4px;
  position: relative;
  font-size: 14px;
}

thead {
  color: #626669;
  font-size: 12px;
}

.darkMode thead {
  color: #a6adb3;
}

th {
  background-color: #e7e7e7;
  position: sticky;
  border-radius: 5px;
  padding: 0.5rem !important;
  border: none !important;
  font-weight: bold;
  top: 4px;
}

.darkMode th {
  background-color: #1c2d39;
}

th:hover {
  background-color: #d7d7d7;
}

.darkMode th:hover {
  background-color: #203849;
}

tbody {
  color: #6c757d;
}

tr:nth-child(even) {
  background-color: #f6f6f6;
}

.darkMode tr:nth-child(even) {
  background-color: #19252e;
}

tr:hover {
  background-color: #d7d7d7;
}

.darkMode tr:hover {
  background-color: #203849;
}

td {
  border-radius: 5px;
  border: none !important;
  padding: 4px !important;
  text-align: right;
  font-weight: bold;
}

td:first-child {
  max-width: 7.5rem;
  text-align: left;
  word-wrap: break-word;
}

.short {
  display: none;
}

.isRed {
  color: #ff073a;
}

.isBlue {
  color: #007bff;
}

.isGreen {
  color: #28a745;
}

.isGray {
  color: #6c757d;
}

@media (max-width: 767px) {
  .long {
    display: none;
  }

  .short {
    display: inline;
  }
}
